<!DOCTYPE HTML>
<html>
<head>
    <title>ULAK PORTAL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="static/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <link href="static/css/style.css" rel='stylesheet' type='text/css'/>
    <link href="static/css/font-awesome.css" rel="stylesheet">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="login">
    <h1><a href="home.html">ULAK PORTAL </a></h1>
    <div class="login-bottom">
        <h2>Register</h2>
        <div class="col-md-6">
            <div class="login-mail">
                <input type="text" placeholder="Nick" required="">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="login-mail">
                <input type="password" placeholder="Password" required="">
                <i class="fa fa-lock"></i>
            </div>
            <div class="login-mail">
                <input type="text" placeholder="User Type" required="">
                <i class="fa fa-envelope"></i>
            </div>
            <a class="news-letter" href="#">
                <label class="checkbox1"><input type="checkbox" name="checkbox"><i> </i>I agree with the terms</label>
            </a>

        </div>
        <div class="col-md-6 login-do">
            <label class="hvr-shutter-in-horizontal login-sub">
                <input type="submit" value="Submit">
            </label>
            <p>Already register</p>
            <a href="/signup2" class="hvr-shutter-in-horizontal">Login</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!--scrolling js-->
<script src="static/js/jquery.nicescroll.js"></script>
<script src="static/js/scripts.js"></script>
<!--//scrolling js-->
</body>
</html>

